{% extends "index.html" %}
{% block question %}

       <div class="question row">

         <div class="col-md-2">

            <a href=#><img class="q-avatar" src="/static/img/pusheen1.jpg"></a>
             <a href="#" class="like"></a><a href="#" class="likes">{{ question.rating }}</a>
             <a href="#" class="dislike"></a><a href="#" class="likes">0</a>

         </div>

         <div class="col-md-10">

           <div class="q-title">  <a href="#" target="_blank">{{ question.title }}</a></div>
           <div class="q-text">{{ question.text }}

               <br>
               <div class="tags">
               <a href="#">answer(3)</a>
               Tags: <a href="#">bender</a> <a href="#">disney</a>
               </div>
           </div>




         </div>


</div>
{% endblock %}
